.searchbar {
   display: flex;
   width: 80%;
   align-items: center;
   border: 1px solid #ccc;
   border-radius: 10rem;
   background-color: #eee;
   margin: 1rem;
}

.searchTextbox {
   flex-grow: 1;
   padding-left: 1rem;
   border: none;
   outline: none;
   background-color: transparent;
   color: black;
}

.searchTextbox::placeholder {
   color: #000000;
}

.searchIcon {
   display: flex;
   align-items: center;
   padding: 0.5rem;
   background-color: #eee;
   border: 1px solid #ccc;
   border-radius: 10rem;
   color: black;
   cursor: pointer;
   border: none;
}

.searchIcon:hover {
   background-color: var(--secondary-color);
   color: white;
   transition: background-color 0.3s ease-in-out;
}
