.surveyContainer {
   background-color: white;
   width: 60%;
   padding: 0 3rem 3rem 3rem;
   margin-bottom: 3rem;
}

.inputContainer {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.surveyContainer > * > h3 {
   font-size: 1.5rem;
   margin: 2rem 0rem;
}

.textBox {
   width: 100%;
   resize: vertical;
}

.textBox {
   width: 100%;
   padding: 8px;
   font-size: 16px;
   border: 1px solid #ccc;
   color: var(--primary-color);
   border-radius: 4px;
   box-sizing: border-box;
   background-color: #ffffff;
}
